/* Flying santa*/
.reindeeranimation{
	height: 150px;
	width: 140px;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 11;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-name: plane-movement;
	filter: drop-shadow(0px 0px 10px rgba(255, 120, 114, 1)); 
}
@keyframes plane-movement {
	0% {
	  opacity: 1;
	  left: 100vw;
	  top: 20%;
	}
	50% {
	  opacity: 1;
	  left: 50vw;
	  top: 40%;
	}
	100% {
	  opacity: 1;
	  left: -100vw;
	  top: 20%;
	}
  }
.svgrenideer{
    position: absolute;
    top: 0;
    left: 0;
}
.plane{
	position: relative;
	-webkit-animation: float 3s infinite;
	        animation: float 3s infinite;
}
@-webkit-keyframes float{
	50%{
		-webkit-transform: translateY(25px);
		        transform: translateY(25px);
	}
}
@keyframes float{
	50%{
		-webkit-transform: translateY(25px);
		        transform: translateY(25px);
	}
}
.hand{
	-webkit-transform: rotate(10deg);
	    -ms-transform: rotate(10deg);
	        transform: rotate(10deg);
	-webkit-animation: wave 1.5s infinite;
	        animation: wave 1.5s infinite;
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;	
}
.blade{
	-webkit-animation:spin 1s infinite linear;
	        animation:spin 1s infinite linear;
	-webkit-transform-origin: 50% 54%;
	    -ms-transform-origin: 50% 54%;
	        transform-origin: 50% 54%;
}
@-webkit-keyframes spin{
	100%{
		-webkit-transform: rotateX(360deg);
		        transform: rotateX(360deg);
	}
}
@keyframes spin{
	100%{
		-webkit-transform: rotateX(360deg);
		        transform: rotateX(360deg);
	}
}
@-webkit-keyframes wave{
	50%{
		-webkit-transform: rotate(-10deg);
		        transform: rotate(-10deg);
	}
}
@keyframes wave{
	50%{
		-webkit-transform: rotate(-10deg);
		        transform: rotate(-10deg);
	}
}


